


.container{
    height: 100vh;
}

.card{
    border:none;
    background-color: #000000;
    color: #ffaf08;
}

.form-control {
    border-bottom: 2px solid #eee !important;
    border: none;
    font-weight: 600
}

.form-control:focus {
    color: #000000;
    background-color: #fff;
    border-color: #fdfdfd;
    outline: 0;
    box-shadow: none;
    border-radius: 0px;
}

.inputbox {
    position: relative;
    margin-bottom: 20px;
    width: 100%
}

.inputbox span {
    position: absolute;
    top: 7px;
    left: 11px;
    transition: 0.3s
}

.inputbox i {
    position: absolute;
    top: 20px;
    right: 8px;
    transition: 0.5s;
    color: #000000;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0
}

.inputbox input:focus~span {
    transform: translateX(-0px) translateY(-26px);
    font-size: 12px
}

.inputbox input:valid~span {
    transform: translateX(-0px) translateY(-15px);
    font-size: 12px
}

.card-blue{
    background-color: #000000;
}

.hightlight{
    background-color: #000000;
    padding: 10px;
    border-radius: 10px;
    margin-top: 15px;
    font-size: 14px;
}

.yellow{
    color: #ffaf08; 
}

.decoration{
    text-decoration: none;
    font-size: 14px;
}

.placeOrder {
    color: #ffaf08;
    background-color: #000000;
    border-color:#000000;
    padding: 8px;
    border-radius: 5px;
    text-decoration: none;
    border: none;
    border: 2px solid #ffaf08;
}

.placeOrder:hover {
    color: rgb(0, 0, 0);
    background-color: #ffaf08;
    border: 2px solid #000000;
}

.placeOrder:active {
    color: rgb(0, 0, 0);
    background-color: #ffaf08;
    border-color: #ffaf08;
    
}

.decoration:hover{
    text-decoration: none;
    color: #ffaf08; 
}
